{% extends 'templates/app.twig' %}

{% block content %}
    <div class="container">
        <div class="invoice-box">
            <div class="text-center">
                <h1>We weren't able to find that invoice.</h1><br>
                <h4>Make sure the link in URL bar matches the email</h4><br>
            </div>
        </div>
    </div>
{% endblock %}
